<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/users.css') }}" />
</head>
 
<body>
  <div class="flex-container">
    <div class="container">
      <h1>USERS</h1>
      <form action="/users">
        <input type="text" name="search" placeholder="Search User">
        <button type="submit">Search</button>
      </form>
      {{ data | safe }}
      <br>
      <form action="{{ url_for('users') }}" method="POST">
        <input type="text" name="first_name" placeholder="First Name">
        <input type="text" name="last_name" placeholder="Last Name">
        <button type="submit">Add</button>
      </form>
    </div>
  </div>
</body>
