<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 
</head>

<body>
  <div class="flex-container">
    <div class="container">
      <h1>LOGIN</h1>
      <button onclick="window.location.href='/'">Homepage</button>
      <button onclick="window.location.href='/register'">Register</button>
      <form action="/login" method='POST'>
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="password" placeholder="Password">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <button type="submit">Login</button>
      </form>
    </div>
  </div>
</body>
